* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* Home Pahe start */
/* nav bar start */
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(200, 183, 215);
}
.logo {
  width: 5%;
  border-radius: 100%;
  padding: 5px;
}
/* list */
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20vw;
}
a {
  text-decoration: none;
  color: inherit;
}
/* nav bar End */

/* welcome section start */
.section2 {
  background-image: url("https://images.pexels.com/photos/2465877/pexels-photo-2465877.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  /* object-fit: cover; */
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.welcome-text {
  text-align: center;
}
.text-WebSite {
  color: white;
}
/* welcome section end */

/* container start */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  gap: 5px;
  margin-top: 10px;
}
.card-container {
  border: 10px solid black;
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-card {
  width: 20vw;
}
.text-descrebtion {
  text-align: justify;
  padding: 5px;
}
/* container end */

/* footer start */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 20vh;
  background-color: rgb(202, 165, 165);
  text-align: justify;
  margin-top: 10px;
}
.footer-text {
  border-right: 1px solid black;
  text-align: center;
  width: 20%;
}
/* footer end */

/* Home Page End  */

/*  Log In Start */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  margin: 10px;
}
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  width: 30vw;
  background-color: rgb(186, 227, 228);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.input-form {
  height: 3vh;
  width: 50%;
}
.gender-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-login {
  display: flex;
  justify-content: center;
}
button {
  height: 5vh;
  width: 20%;
  background-color: rgb(200, 183, 215);
  border: none;
  border-radius: 10%;
  text-align: center;
  margin-top: 10px;
}
button:hover {
  background-color: rgb(127, 137, 169);
  cursor: pointer;
}

/* LogIn End  */
